In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [3]:
# Store the CSV into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mustasaari,FI,2021-07-27 22:15:38,63.1142,21.6822,69.89,60,0,3.44
1,1,Bathsheba,BB,2021-07-27 22:15:38,13.2167,-59.5167,83.01,69,20,17.27
2,2,Pevek,RU,2021-07-27 22:15:38,69.7008,170.3133,34.07,94,100,10.40
3,3,Aginskoye,RU,2021-07-27 22:15:39,51.1000,114.5300,59.11,90,26,2.39
4,4,Sao Felix Do Xingu,BR,2021-07-27 22:15:39,-6.6447,-51.9950,80.78,37,0,1.54

In [4]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use the Google API key.
gmaps.configure(api_key = g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights= clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights= wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Bathsheba,BB,2021-07-27 22:15:38,13.2167,-59.5167,83.01,69,20,17.27
4,4,Sao Felix Do Xingu,BR,2021-07-27 22:15:39,-6.6447,-51.9950,80.78,37,0,1.54
8,8,Waddan,LY,2021-07-27 22:15:40,29.1614,16.1390,79.14,47,0,16.62
17,17,Butaritari,KI,2021-07-27 22:15:43,3.0707,172.7902,81.72,70,98,3.49
21,21,Jamestown,US,2021-07-27 22:15:44,42.0970,-79.2353,78.08,64,90,3.00
22,22,Atuona,PF,2021-07-27 22:11:07,-9.8000,-139.0333,77.50,71,16,18.43
33,33,Nurota,UZ,2021-07-27 22:15:47,40.5614,65.6886,77.09,25,0,15.66
36,36,Katsuura,JP,2021-07-27 22:15:48,35.1333,140.3000,84.11,84,100,17.22
37,37,Aykhal,RU,2021-07-27 22:10:57,66.0000,111.5000,77.41,48,22,3.33
40,40,Cayenne,GF,2021-07-27 22:15:49,4.9333,-52.3333,82.44,85,75,5.01

In [13]:
preferred_cities_df.count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [14]:
# Create a DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

C:\Users\eddie\anaconda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                  City Country  Max Temp      Lat       Lng Hotel Name
1            Bathsheba      BB     83.01  13.2167  -59.5167
4   Sao Felix Do Xingu      BR     80.78  -6.6447  -51.9950
8               Waddan      LY     79.14  29.1614   16.1390
17          Butaritari      KI     81.72   3.0707  172.7902
21           Jamestown      US     78.08  42.0970  -79.2353
22              Atuona      PF     77.50  -9.8000 -139.0333
33              Nurota      UZ     77.09  40.5614   65.6886
36            Katsuura      JP     84.11  35.1333  140.3000
37              Aykhal      RU     77.41  66.0000  111.5000
40             Cayenne      GF     82.44   4.9333  -52.3333

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Bathsheba,BB,83.01,13.2167,-59.5167,Atlantis Hotel
4,Sao Felix Do Xingu,BR,80.78,-6.6447,-51.9950,Rio Xingu Camping
8,Waddan,LY,79.14,29.1614,16.1390,محل الشريف محمد العايب
17,Butaritari,KI,81.72,3.0707,172.7902,Isles Sunset Lodge
21,Jamestown,US,78.08,42.0970,-79.2353,Hampton Inn & Suites Jamestown
...,...,...,...,...,...,...
572,Phalodi,IN,83.01,27.1333,72.3667,"HOTEL NEW GOLDEN PALACE , PHALODI"
573,Puri,IN,81.37,19.8000,85.8500,OYO 1577 Hotel Shree Hari Grand
575,Umm Kaddadah,SD,84.13,13.6017,26.6876,
577,Teavaro,PF,81.88,-17.5000,-149.7667,SOFITEL KIA ORA MOOREA BEACH RESORT
578,Mehriz,IR,81.10,31.5917,54.4318,Mehrgard dwelling/سرای مهرگرد

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [26]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))