## Deliverable 3. Create a Travel Itinerary Map.

In [11]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [12]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Butaritari,KI,83.32,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
1,1,Periyanayakkanpalaiyam,IN,81.99,haze,11.1500,76.9333,Bv Machines
2,3,San Patricio,US,84.88,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
3,16,Santa Paula,US,87.48,clear sky,34.3542,-119.0593,Santa Paula Inn
4,17,Port-Gentil,GA,76.59,overcast clouds,-0.7193,8.7815,Fengshui Residence

In [91]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [92]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [77]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Zhezkazgan")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Zhezkazgan")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Balkhash")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Charyshskoye")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Zaysan")] 

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
107,360,Zhezkazgan,KZ,89.26,clear sky,47.8043,67.7144,Hotel Zumrat

In [81]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]]
end = vacation_end[["Lat", "Lng"]]
stop1 = vacation_stop1[["Lat", "Lng"]]
stop2 = vacation_stop2[["Lat", "Lng"]]
stop3 = vacation_stop3[["Lat", "Lng"]]

stop3

         Lat      Lng
158  47.4667  84.8667

In [82]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps
import gmaps.datasets
gmaps.configure(api_key = g_key)

# Latitude-longitude pairs

start = (47.8043, 67.7144)
end = (47.8043, 67.7144)
stop1 = (46.844, 74.9804)
stop2 = (51.3978, 83.5598)
stop3 = (47.4667, 84.8667)

fig = gmaps.figure()
vacation_trip = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3])
fig.add_layer(vacation_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [83]:
# 8. To create a marker layer map between the four cities.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index = True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,360,Zhezkazgan,KZ,89.26,clear sky,47.8043,67.7144,Hotel Zumrat
1,506,Balkhash,KZ,88.41,clear sky,46.8440,74.9804,Family
2,302,Charyshskoye,RU,78.17,broken clouds,51.3978,83.5598,Gostinitsa Charysh
3,521,Zaysan,KZ,83.32,clear sky,47.4667,84.8667,ÐÑÐ»Ð°Ð½ Ò¯Ð¹

In [95]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [96]:
# 11a. Add a marker layer for each city to the map.
city_mark = itinerary_df["City"]
fig = gmaps.figure(center=(30, 31), zoom_level=5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))